$font-stack: "din-2014", sans-serif;
$color-bg: #f8f8f8;
$color-text: #333;
$color-header: #333;
$color-nav: #667;
$color-accent: #A3BFD9;
$color-accent-dark: #8FA9C5;
$color-light: #fff;
$color-sidebar-bg: #ddd;
$color-border: #ccc;
$color-burger-bg: #444;
$color-burger-link: #555;
$color-burger-link-hover: #667;
$border-radius: 5px;
$transition-fast: .3s;
$bp-mobile: 600px;
